{% extends 'base.html.twig' %}

{% block title %}New District{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
    <input type="submit" value="submit">
    {{ form_end(form) }}
</div>
{% endblock %}
