@import '~purecss';

body {
    background-color: #fefefe;

    .post {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid lightblue;

        .comments {
            .comment {
                padding: 10px;
                .children {
                    margin-left: 20px;
                }
            }
        }
    }
}
