{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="email">
    {{ user.username }}
</div>
<div class="name">
    {{ user.name }}
</div>
{% endblock %}
